<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154309872103-fmsc67s678in28973dov8lg7345mevqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154309872103-fmsc67s678in28973dov8lg7345mevqr</string>
	<key>API_KEY</key>
	<string>AIzaSyCdNgAWKGg05voUu32eA57JCnPxmN2oyFs</string>
	<key>GCM_SENDER_ID</key>
	<string>154309872103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ramdhas.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-d2035</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-d2035.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154309872103:ios:2d199dee8e58f1c6a95542</string>
</dict>
</plist>